<div class="body-overlay"></div>

<div id="side-panel" class="dark">

  <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

  <div class="side-panel-wrap">

    <div class="widget widget_links clearfix">

      <h4>About us</h4>

      <div style="font-size: 14px; line-height: 1.7;">
        <address style="line-height: 1.7;">
          Aalsmeerweg 4-2<br>
          1059 AJ Amsterdam<br>
          The Netherlands<br>
        </address>

        <div class="clear topmargin-sm"></div>

        <abbr title="Phone Number">Phone:</abbr> (+31) 6 1858 8374<br>
        <abbr title="Email Address">Email:</abbr> mail@marceloomens.com
      </div>

    </div>

    <div class="widget quick-contact-widget clearfix">

      <h4>Social media</h4>

      <a href="#" class="social-icon si-small si-colored si-facebook" title="Facebook">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
      </a>
      <a href="#" class="social-icon si-small si-colored si-linkedin" title="LinkedIn">
        <i class="icon-linkedin"></i>
        <i class="icon-linkedin"></i>
      </a>
      <a href="#" class="social-icon si-small si-colored si-github" title="Github">
        <i class="icon-github"></i>
        <i class="icon-github"></i>
      </a>
      <a href="#" class="social-icon si-small si-colored si-twitter" title="Twitter">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
      </a>

    </div>

  </div>

</div>
