<!DOCTYPE html>
<html dir="ltr" lang="en-US">

  {% include head.html %}

  <body class="stretched side-push-panel">

  {% include sidepanel.html %}

  <!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

  </div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="/js/functions.js"></script>

</body>
